<article id="article" class="container">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consequatur
    eos ipsam eum, sequi repudiandae in natus corporis qui nisi quibusdam quo
    libero impedit odit numquam, tempora praesentium vero nostrum. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quisquam soluta, fugiat
    laudantium corrupti quia eligendi sapiente, dicta porro laborum dolores
    ducimus! Dolor harum rerum repudiandae error laudantium maiores, officiis
    ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    nesciunt tempora assumenda in minima blanditiis! Deserunt, exercitationem
    consectetur, natus iure autem sapiente dolor eum, sed quos at facilis ad
    laudantium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
    blanditiis reprehenderit nesciunt itaque nostrum ipsa nobis tempore autem
    consequatur sequi, officia ipsam odit eum ullam possimus, unde soluta et
    quae!
  </p>
  <div class="container img-container">
    <img
      type="image/jpeg"
      src="{{url_for('static', filename='images/Kazakhstan-2.jpeg')}}"
      alt="image"
      loading="lazy"
      onmouseover="KazakImage1(this)"
      onmouseout="KazakImage2(this)"
    />
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quaerat
    pariatur quasi magnam ipsa natus maiores omnis at vitae? Corrupti eaque,
    veniam cumque facilis iusto repellendus aliquid quos earum sit. Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Unde reprehenderit id quis. Ab
    nulla iure tempora voluptatibus, necessitatibus consequuntur, molestias
    aliquid atque placeat rem eum, fugit nemo. Quis, aliquid omnis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam illo
    ratione incidunt voluptatem qui obcaecati animi temporibus aperiam nemo
    adipisci, in sit beatae commodi sunt libero suscipit modi quaerat. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia
    voluptates non. At et pariatur delectus debitis porro quasi cum excepturi
    cupiditate aliquid, voluptatibus, dolor assumenda. Non veritatis quasi
    libero.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consequatur
    eos ipsam eum, sequi repudiandae in natus corporis qui nisi quibusdam quo
    libero impedit odit numquam, tempora praesentium vero nostrum. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quisquam soluta, fugiat
    laudantium corrupti quia eligendi sapiente, dicta porro laborum dolores
    ducimus! Dolor harum rerum repudiandae error laudantium maiores, officiis
    ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    nesciunt tempora assumenda in minima blanditiis! Deserunt, exercitationem
    consectetur, natus iure autem sapiente dolor eum, sed quos at facilis ad
    laudantium.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi blanditiis
    reprehenderit nesciunt itaque nostrum ipsa nobis tempore autem consequatur
    sequi, officia ipsam odit eum ullam possimus, unde soluta et quae! Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Veritatis accusantium
    hic sapiente quas, ipsam dolorem laborum cum, expedita itaque temporibus vel
    provident neque eius sit nulla mollitia saepe excepturi nobis! Lorem, ipsum
    dolor sit amet consectetur adipisicing elit. Dolor quaerat pariatur quasi
    magnam ipsa natus maiores omnis at vitae? Corrupti eaque, veniam cumque
    facilis iusto repellendus aliquid quos earum sit. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Unde reprehenderit id quis. Ab nulla
    iure tempora voluptatibus, necessitatibus consequuntur, molestias aliquid
    atque placeat rem eum, fugit nemo. Quis, aliquid omnis.
  </p>
  <div class="container img-container">
    <img
      type="image/jpeg"
      src="{{url_for('static', filename='images/Algeria.jpeg')}}"
      alt="image"
      loading="lazy"
      onmouseover="algeImage1(this)"
      onmouseout="algeImage2(this)"
    />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam illo
    ratione incidunt voluptatem qui obcaecati animi temporibus aperiam nemo
    adipisci, in sit beatae commodi sunt libero suscipit modi quaerat. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia
    voluptates non. At et pariatur delectus debitis porro quasi cum excepturi
    cupiditate aliquid, voluptatibus, dolor assumenda. Non veritatis quasi
    libero.
  </p>
</article>
