<footer class="mt-auto text-white-50">
  {% if current_user.is_authenticated %}
  <small>
    Logged in as {{ current_user.user_name }}. {% if current_user.id == 1 %}
    <a href="{{ url_for('dynamic_pgs.admin') }}">Admin</a> | {% endif %}
    <a href="{{ url_for('dynamic_pgs.dashboard') }}">Dashboard</a> |
    <a href="{{ url_for('dynamic_pgs.logout') }}">Logout</a>
  </small>
  {% else %}
  <small>
    <a class="navbar-text hover-line" href="{{ url_for('dynamic_pgs.signup') }}"
      >Sign-up</a
    >
    |
    <a
      <a
      class="navbar-text hover-line"
      href="{{ url_for('dynamic_pgs.login') }}"
      >Login</a
    >
  </small>
  {% endif %}
</footer>
