<section id="hero" class="container parent spacer">
  <div class="child staggering">
    {% block title %}
    <h1 class="title-pg slide-rtl text-fade-in">GISart</h1>
    {% endblock %} {% if current_user.is_authenticated %}
    <p class="slide-ltr el">
      <a class="hover-line" href="{{ url_for('basic_pgs.about') }}"
        >Learn More</a
      >
    </p>
    <p class="slide-ltr el">
      <a
        class="nav-link hover-line"
        href="{{ url_for('dynamic_pgs.dashboard') }}"
        >dashboard</a
      >
    </p>

    {% else %}
    <p class="slide-ltr el">
      <a class="hover-line" href="{{ url_for('basic_pgs.about') }}"
        >Learn More</a
      >
    </p>
    <p class="slide-ltr el">
      <a class="hover-line" href="{{ url_for('dynamic_pgs.signup') }}"
        >Sign-up</a
      >
    </p>
    <p class="slide-ltr el">
      <a class="hover-line" href="{{ url_for('dynamic_pgs.login') }}">Login</a>
    </p>
    {% endif %}
  </div>
</section>
<small class="text-muted hero-credit">
  Photo by
  <a
    href="https://unsplash.com/@spacex?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >SpaceX</a
  >
  on
  <a
    href="https://unsplash.com/s/photos/spacex?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >Unsplash</a
  >
</small>

<div class="img-bg">
  <img
    type="image/png"
    src="{{url_for('static', filename='images/spacex-dark.png')}}"
    alt="SpaceX image of late day or night sky and time lapse light line from ascending rocket."
  />
</div>
