<!-- ! neu ////// -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" aria-label="Navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-fade-in" href="{{ url_for('basic_pgs.index') }}"
      >GISart</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link hover-line"
            href="{{ url_for('basic_pgs.about') }}"
            aria-label="About page link"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hover-line"
            href="{{ url_for('basic_pgs.learn') }}"
            target="_blank"
            aria-label="External link"
            >Learn How</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link hover-line"
            href="{{ url_for('dynamic_pgs.view_posts') }}"
            aria-label="View all posts"
            >View</a
          >
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            For Users
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item hover-line"
                href="{{ url_for('dynamic_pgs.create_post') }}"
                aria-label="Share a post"
                >Share</a
              >
            </li>
            <li>
              <a
                class="dropdown-item hover-line"
                href="{{ url_for('dynamic_pgs.dashboard') }}"
                aria-label="User dashboard"
                >Dashboard</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <small>
                <a
                  id="logout-link"
                  class="dropdown-item hover-line"
                  href="{{ url_for('dynamic_pgs.logout') }}"
                  aria-label="Logout"
                  >Logout</a
                >
              </small>
            </li>
            {% if current_user.id == 1 %}
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item hover-line"
                href="{{ url_for('dynamic_pgs.admin') }}"
                >Admin</a
              >
            </li>
            {% endif %}{% endif %}
          </ul>
        </li>
        {% if current_user.is_authenticated %} {% else %}
        <!-- * signup & login only seen if session is unauthenticated -->
        <a
          id="signup-link"
          class="nav-link hover-line"
          href="{{ url_for('dynamic_pgs.signup') }}"
          aria-label="Sign-up"
          >Sign-up</a
        >
        |
        <a
          id="login-link"
          class="nav-link hover-line"
          href="{{ url_for('dynamic_pgs.login') }}"
          aria-label="Login"
          >Login</a
        >
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
