{% extends 'base.html' %} {% block body %}
<section class="container">
  <h1>Signup</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
    laborum nesciunt amet animi, neque ut quas cum maxime labore quia odit
    saepe, quidem inventore vero perferendis incidunt porro tempore!
  </p>

  {% for message in get_flashed_messages() %}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Welcome {{ user_name }}! {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %} {% if user_name %}
  <p>Hello {{ user_name }}!!</p>
  {% else %}
  <p>What is your Name?</p>
  <br />
  <!-- signup form -->
  <form method="POST">
    <!--  generates a hidden field that includes a token that is used to protect the form against CSRF attacks, becauses hackers deffo want to target this -->
    {{ form.hidden_tag() }}
    <!-- the form -->
    <!-- name -->
    {{ form.user_name.label (class="form-label") }} {{
    form.user_name(class="form-control") }}
    <!-- password holder -->
    {{ form.password.label (class="form-label") }} {{
    form.password(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-secondary") }}
  </form>
</section>
{% endif %} {% endblock %}
