{% extends 'base.html' %}
<!-- navbar component -->
{% block body %} {% include 'components/navbar.html' %}

<section id="gallery" class="container">
  {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>{{ post.slug }}</h1>
  {% endif %} <br />
  <div class="shadow p-3 mb-5 bg-dark text-white rounded">
    <h3>{{ post.title }}</h3>
    <br />
    <h5>{{ post.image }}</h5>
    <br />
    <p>{{ post.description }}</p>
    <br />
    <h6>{{ post.date_posted }}</h6>
    <br />
    <a class="btn btn-danger" href="{{ url_for('dynamic_pgs.view_posts') }}"
      >Go Back</a
    >
    <hr />
  </div>
</section>
{% endblock %}
