{% extends 'base.html' %}<!-- add navbar component -->
{% block body %} {% include 'components/navbar.html' %}
<section id="signup" class="container">
  {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>GISart</h1>
  {% endif %}

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
    laborum nesciunt amet animi, neque ut quas cum maxime labore quia odit
    saepe, quidem inventore vero perferendis incidunt porro tempore!
  </p>

  {% for message in get_flashed_messages() %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %} {% if user_name %}
  <p>Update your details.</p>
  {% else %}
  <br />
  <!-- signup(update) form -->
  <form
    action="/update/{{ update_user_info.id }}"
    method="POST"
    class="flex justify-content-md-center"
  >
    <!--  generates a hidden field that includes a token that is used to protect the form against CSRF attacks, becauses hackers deffo want to target this -->
    {{ form.hidden_tag() }}
    <!-- the form -->
    <!-- * user name -->
    {{ form.user_name.label (class="form-label") }} {{
    form.user_name(class="form-control", value=update_user_info.user_name) }}
    <br />
    <!-- * first name -->
    {{ form.first_name.label (class="form-label") }} {{
    form.first_name(class="form-control", value=update_user_info.first_name) }}
    <br />
    <!-- * last name -->
    {{ form.last_name.label (class="form-label") }} {{
    form.last_name(class="form-control", value=update_user_info.last_name) }}
    <br />
    <br />
    <!-- * email -->
    {{ form.email.label (class="form-label") }} {{
    form.email(class="form-control", value=update_user_info.email) }}
    <br />
    <br />
    {{ form.submit(class="btn btn-primary") }}
    <a class="btn btn-danger" href="{{ url_for('dynamic_pgs.delete', id=id) }}"
      >Delete User</a
    >
  </form>
</section>

{% endif %} {% endblock %}
