{% extends 'base.html' %}
<!-- add navbar component -->
{% block body %}{% include 'components/navbar.html' %}
<section class="container spacer">
  {% include 'components/flash_msgs.html' %}
  <!-- locking down page -->
  {% if current_user.is_authenticated %}
  <div class="container">
    <div class="row gutters-row justify-content-center">
      <div class="col-sm-auto gutters-col justify-content-center">
        <div
          class="card text-center bg-dark text-white max-width"
          aria-label="User profile card"
        >
          <div class="card-header profile-picture">
            <img
              type="image/png"
              src="{{ current_user.profile_pic }}"
              alt="{{ post.author.user_name }}'s Display Picture."
              loading="lazy"
              class="card-img-top profile-picture"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ current_user.user_name|capitalize }}</h5>
            <p class="card-text">{{ current_user.bio }}</p>
          </div>
          <div class="card-footer">
            <h6 class="text-muted">
              Member Since: {{ current_user.date_added.date() }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-auto gutters-col d-flex justify-content-center">
        <div class="card bg-dark text-white max-width">
          <div class="card-body">
            <h4 class="card-title welcome-user">
              Welcome {{ current_user.user_name|capitalize }}
            </h4>
            <p class="card-text text-center">Here are some quick links:</p>
            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary text-dark btn-sm"
                href="{{ url_for('dynamic_pgs.create_post') }}"
                aria-label="Share a post"
                >Share</a
              >
            </div>
            <div class="d-flex justify-content-center">
              <a
                class="btn btn-info text-dark btn-sm"
                href="{{ url_for('dynamic_pgs.view_posts') }}"
                aria-label="View all posts"
                >View All Posts</a
              >
            </div>
            <div class="d-flex justify-content-center">
              <a
                class="btn btn-warning text-dark btn-sm"
                href="{{ url_for('dynamic_pgs.update', id=current_user.id, slug=current_user.slug) }}"
                aria-label="Update profile"
                >Update Profile</a
              >
            </div>
            <br />
            <div class="d-flex justify-content-center">
              <a
                class="btn btn-danger text-dark btn-sm"
                href="{{ url_for('dynamic_pgs.delete', id=current_user.id, slug=current_user.slug) }}"
                aria-label="Delete account"
                >Delete Account</a
              >
            </div>
            <br />
            <p class="card-text text-muted text-center">
              <small>
                Unfortunately, you cannot change your password at this time, we
                are still working on this feature.</small
              >
            </p>
            <div class="d-flex justify-content-center">
              <small>
                <a
                  id="logout-link"
                  class="btn btn-secondary text-dark btn-sm"
                  href="{{ url_for('dynamic_pgs.logout') }}"
                  aria-label="Logout"
                  >Logout</a
                >
              </small>
              {% if current_user.id == 1 %}
              <a
                class="btn btn-success text-dark btn-sm"
                href="{{ url_for('dynamic_pgs.admin') }}"
                >Admin</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <h6>Please login in or Signup to access this page.</h6>
  <br />
  <a class="navbar-text hover-line" href="{{ url_for('dynamic_pgs.signup') }}"
    >Sign-up</a
  >
  |
  <a <a class="navbar-text hover-line" href="{{ url_for('dynamic_pgs.login') }}"
    >Login</a
  >
  {% endif %}
</section>
<div class="img-bg">
  <img
    type="image/png"
    src="{{url_for('static', filename='images/spacex-dark.png')}}"
    alt="SpaceX image of late day or night sky and time lapse light line from ascending rocket."
    loading="lazy"
  />
</div>
{% include 'components/footer.html' %} {% endblock %}
