{% extends 'base.html' %} {% block body %} {% include 'components/navbar.html'
%}
<section id="login" class="container form_pg spacer">
  {% include 'components/flash_msgs.html' %} {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>GISart</h1>
  {% endif %}
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
    laborum nesciunt amet animi, neque ut quas cum maxime labore quia odit
    saepe, quidem inventore vero perferendis incidunt porro tempore!
  </p>
  <br />
  <!-- login form -->
  <form method="POST" class="flex justify-content-md-center my_form">
    <!--*  generates a hidden field that includes a token that is used to protect the form against CSRF attacks, becauses hackers deffo want to target this -->
    {{ form.hidden_tag() }}

    <!-- the form -->
    <!--* user name -->
    {{ form.user_name.label (class="form-label") }} {{
    form.user_name(class="form-control") }}
    <br />
    <!--* password -->
    {{ form.password.label (class="form-label") }} {{
    form.password(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-warning text-dark") }}
    <a class="btn btn-primary text-dark" href="{{ url_for('basic_pgs.about') }}"
      >Go Back</a
    >
  </form>
</section>
<div class="img-bg">
  <img
    type="image/png"
    src="{{url_for('static', filename='images/spacex-dark.png')}}"
    alt="image"
    aria-label="Description of the overall image"
    loading="lazy"
  />
</div>
{% include 'components/footer.html' %} {% endblock %}
