{% extends 'base.html' %} {% block body %} {% include 'components/navbar.html'
%}
<section id="login" class="container form_pg">
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16"
      role="img"
      aria-label="Warning:"
    >
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      /></svg
    ><strong>Error:</strong> {{ error }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <br />
  {% if title %} }
  <h1>{{ title }}</h1>
  {% else %}
  <h1>GISart</h1>
  {% endif %}

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
    laborum nesciunt amet animi, neque ut quas cum maxime labore quia odit
    saepe, quidem inventore vero perferendis incidunt porro tempore!
  </p>
  <br />

  <!-- login form -->
  <form method="POST" class="flex justify-content-md-center">
    <!--  generates a hidden field that includes a token that is used to protect the form against CSRF attacks, becauses hackers deffo want to target this -->
    {{ form.hidden_tag() }}

    <!-- the form -->
    <!-- * user name -->
    {{ form.user_name.label (class="form-label") }} {{
    form.user_name(class="form-control") }}
    <br />
    <!-- * password -->
    {{ form.password.label (class="form-label") }} {{
    form.password(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-warning text-dark") }}
    <a class="btn btn-primary text-dark" href="{{ url_for('basic_pgs.about') }}"
      >Go Back</a
    >
  </form>
</section>
{% endblock %}
