{% extends 'base.html' %}
<!-- add navbar component -->
{% block body %} {% include 'components/navbar.html' %}
<section id="signup" class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>GISart</h1>
  {% endif %}

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
    laborum nesciunt amet animi, neque ut quas cum maxime labore quia odit
    saepe, quidem inventore vero perferendis incidunt porro tempore!
  </p>

  <a
    class="btn btn-primary text-dark"
    href="{{ url_for('dynamic_pgs.signup') }}"
    >Go Back</a
  >
  <br /><br />

  {% if user_name %}
  <p>Hello {{ user_name }}!!</p>

  {% else %}
  <br />

  {% for user in users_db %}

  <div class="container">
    <table class="table table-sm table-dark">
      <tr>
        <td>
          {{ user.id }}. {{ user.user_name }}
          <a
            class="btn btn-secondary text-dark"
            href="{{ url_for('dynamic_pgs.update', id=user.id) }}"
            >Update</a
          >
          <a
            class="btn btn-danger text-dark"
            href="{{ url_for('dynamic_pgs.delete', id=user.id) }}"
            >Delete User</a
          >
        </td>
      </tr>
    </table>
  </div>
</section>

<div class="img-bg">
  <img
    type="image/jpeg"
    src="{{url_for('static', filename='images/spacex-dark.jpeg')}}"
    alt="image"
    loading="lazy"
  />
  Photo by
  <a
    href="https://unsplash.com/@spacex?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >SpaceX</a
  >
  on
  <a
    href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >Unsplash</a
  >
</div>

{% endfor %} {% endif %} {% endblock %}{% include 'components/footer.html' %}
