/*! ///// form related css ///// */
/** ///// tags & elements ///// ------------------------------------------------------------------------------------------------------------------------ */

form {
  color: var(--pri-txt);
  font-family: var(--font-head);
}

/** ///// classes ///// ------------------------------------------------------------------------------------------------------------------------ */

.form_pg {
  width: 60%;
}

.my_form {
  background: #6b6b6b17;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: solid 1px rgba(255, 255, 255, 0.084);
  border-radius: 1rem;
  padding: 5vh 5vw;
  width: 50%;
  min-width: 172px;
  margin: 5vh auto 15vh auto;
}

.btn-sm {
  font-size: 0.8rem;
}

.table {
  margin-top: 1rem;
  text-align: left;
  width: 90%;
}

.id_col {
  width: 2rem;
}

.col {
  min-height: 360px;
}

/** ///// media rules ///// ------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {
  .form_pg {
    width: 95%;
  }
  .my_form {
    width: 95%;
  }
}
