.form_pg {
  /* margin: 0 auto; */
  width: 60%;
  /* min-width: 630px; */
}

form {
  background: #6b6b6b17;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: solid 1px rgba(255, 255, 255, 0.084);
  color: var(--pri-txt);
  font-family: var(--font-head);
  padding: 5vh 5vw;
  border-radius: 1rem;
  width: 50%;
  min-width: 172px;
  margin: 5vh auto 15vh auto;
}

.btn-sm {
  font-size: 0.8rem;
}
