/* ! ///// hero css ///// */
.parent {
  position: relative;
  height: 100vh;
  display: flex;

  margin: auto;
  z-index: 999999;
}

.child {
  width: fit-content;
  position: absolute;
  top: 78%;
  left: -10%;
  transform: translate(0, -50%);
}

#hero h1 {
  font-size: 3rem;
}

#hero p {
  font-size: 1rem;
}

.title-pg {
  margin-bottom: 1rem;
}

/*  todo: media queries */
