/* ! ///// main css ///// */
html {
  background-color: #141414;
}

/* {
  outline: solid 1px red;
} */

:root {
  font-size: 16px;
  --font-fam: "Montserrat", sans-serif;
  --font-head: "Orbitron", sans-serif;

  --pri-txt: #fff;
  --sec-txt: #141414;

  --pri-bg: #141414;
  --sec-bg: #fff;

  --highlight: #d9983d;
  --shadow: 0 0 8px #000;
}

body {
  margin: 0;
  background-color: var(--pri-bg);
}

section,
article {
  position: relative;
  z-index: 128;
}

.container {
  width: 70vw;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--pri-txt);
  font-family: var(--font-fam);
  text-shadow: var(--shadow);
  font-weight: 100;
}

h1 {
  color: var(--pri-txt);
  font-family: var(--font-head);
  font-size: 2.5rem;
  text-shadow: var(--shadow);
}

p {
  font-size: 1rem;
}

a:link {
  color: var(--pri-txt);
  font-family: var(--font-head);
  text-decoration: none;
  text-shadow: none;
}

a:focus {
  color: var(--highlight);
}

.hover-line:link {
  color: var(--pri-txt);
  font-family: var(--font-head);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  text-shadow: none;
  display: inline-block;
  position: relative;
}

.hover-line:after {
  color: var(--pri-txt);
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 1.2px;
  bottom: -2px;
  left: 10%;
  background-color: var(--pri-txt);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  margin: 0.5rem 0.5rem 0 0;
}

/* * ///// custom scrollbar ///// */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e3e3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.img-bg {
  height: 100%;
  /* width: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.img-bg img {
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;

  object-fit: cover;
  filter: brightness(60%);
}
