/* ! ///// main css ///// */
html {
  background-color: #141414;
}

/* {
  outline: solid 1px red;
} */

:root {
  font-size: 16px;
  --font-fam: "Gudea", sans-serif;
  --font-head: "Orbitron", sans-serif;

  --pri-txt: #fff;
  --sec-txt: #141414;

  --pri-bg: #141414;
  --sec-bg: #fff;

  --highlight: #d9983d;
  --shadow: 0 0 8px #000;
}

body {
  margin: 0;
  background-color: var(--pri-bg);
}

.container {
  width: 70vw;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--pri-txt);
  font-family: var(--font-fam);
  text-shadow: var(--shadow);
}

h1 {
  color: var(--pri-txt);
  font-family: var(--font-head);
  font-size: 4rem;
  text-shadow: var(--shadow);
}

p {
  font-size: 1.2rem;
}

a:link {
  font-family: var(--font-head);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  text-shadow: none;
}

a:hover {
  color: #059cc1;
  transition: color 0.5s ease-in-out;
}

/* a:visited {
  color: #bbbbbb;
  transition: color 0.5s ease-in-out;
} */

a:focus:active {
  color: var(--highlight);
  transition: color 0.1s ease-in-out;
}

/* * ///// custom scrollbar ///// */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e3e3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
