.nav-bg-custom {
  background-color: none;
  padding: 5vh 6vw 0 6vw;
  margin-bottom: 12vh;
  z-index: 128;
}

.nav-link {
  padding: 0;
}

#signup-link {
  margin-right: 0.5 rem;
}

#login-link {
  margin-left: 0.5 rem;
}

footer {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: solid 1px rgba(255, 255, 255, 0.084);
  font-family: var(--font-head);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding-top: 0.5rem;
  text-align: center;
  z-index: 128;
}
