.nav-bg-custom {
  background-color: none;
  padding: 5vh 6vw 0 6vw;
  margin-bottom: 12vh;
}

.nav-link {
  padding: 0;
}

#signup-link {
  margin-right: 0.5 rem;
}

#login-link {
  margin-left: 0.5 rem;
}

footer {
  padding: 3rem 0;
  text-align: center;
}
