/*! ///// css for blog posts ///// */
/** ///// personal css on bootstrap cards + col/row ///// ------------------------------------------------------------------------------------------------------------------------ */

.gutters-row {
  padding: 2rem 0;
}

.gutters-col {
  padding: 0.5rem 0.5rem;
}

.profile-card {
  width: 18rem;
}

.card-header {
  padding: 0;
}

/** ///// img related ///// ------------------------------------------------------------------------------------------------------------------------ */

.many-posts {
  filter: brightness(50%);
  max-height: 25em;
}

.post-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 360px;
}

.post-card-single {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-card img {
  flex-shrink: 1;
  min-width: 100%;
  min-height: 100%;
}

.profile-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay a {
  margin: 0;
  position: absolute;
  bottom: 1rem;
}

/** ///// media rules ///// ------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {
  .gutters-row {
    padding: 0 0.5rem;
  }
  .gutters-col {
    padding: 0.5rem 0;
  }
}
