/* #posts {
  color: var(--pri-txt);
} */

.profile-card {
  width: 18rem;
}

.post-img-top {
  max-height: 25em;
  /* min-height: 20rem; */
}

.card-header {
  padding: 0;
}

.post-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay a {
  margin: 0;
  position: absolute;
  bottom: 1rem;
}
