{% extends 'base.html' %}
<!-- navbar component -->
{% block body %} {% include 'components/navbar.html' %}

<section id="gallery" class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %} {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>{{ post.slug }}</h1>
  {% endif %} <br />
  <div class="shadow p-3 mb-5 bg-dark text-white rounded">
    <h3>{{ post.title }}</h3>
    <br />
    <h5>{{ post.image }}</h5>
    <br />
    <p>{{ post.description }}</p>
    <br />
    <h6>{{ post.date_posted }}</h6>
    <br />
    <hr />
    <a
      class="btn btn-primary text-dark"
      href="{{ url_for('dynamic_pgs.view_posts', id=id) }}"
      >Go Back</a
    >
    <a
      class="btn btn-warning text-dark"
      href="{{ url_for('dynamic_pgs.edit_post', id=id) }}"
      >Edit Post</a
    >
    <a
      class="btn btn-danger text-dark"
      href="{{ url_for('dynamic_pgs.delete_post', id=id) }}"
      >Delete Post</a
    >
  </div>
</section>
{% endblock %}
