{% extends 'base.html' %}
<!-- navbar component -->
{% block body %} {% include 'components/navbar.html' %}

<section id="gallery" class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %} {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>{{ post.title }}</h1>
  {% endif %} <br />

  <div class="card mb-3 bg-dark text-white post-card">
    <img
      type="image/jpeg"
      src="{{url_for('static', filename='images/Mexico.jpeg')}}"
      alt="image"
      loading="lazy"
      class="card-img-top"
    />
    <div class="card-body">
      <h5>{{ post.image }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{ post.date_posted.date() }}</small>
      </p>
    </div>
  </div>

  <hr />
  <a
    class="btn btn-primary text-dark"
    href="{{ url_for('dynamic_pgs.view_posts', id=id) }}"
    >Go Back</a
  >
  {% if current_user.is_authenticated %}
  <a
    class="btn btn-warning text-dark"
    href="{{ url_for('dynamic_pgs.edit_post', id=id) }}"
    >Edit Post</a
  >
  <a
    class="btn btn-danger text-dark"
    href="{{ url_for('dynamic_pgs.delete_post', id=id) }}"
    >Delete Post</a
  >
  {% endif %}
</section>

<div class="img-bg">
  <img
    type="image/jpeg"
    src="{{url_for('static', filename='images/spacex-light.jpeg')}}"
    alt="image"
    loading="lazy"
  />
</div>
{% include 'components/footer.html' %} {% endblock %}
