{% extends 'base.html' %}
<!-- navbar component -->
{% block body %} {% include 'components/navbar.html' %}
<section id="gallery" class="container">
  {% for message in get_flashed_messages() %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %} {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>GISart</h1>
  {% endif %} {% for post in posts %} <br />

  <div class="card bg-dark text-white post-card">
    <img
      type="image/jpeg"
      src="{{url_for('static', filename='images/Mexico.jpeg')}}"
      alt="image"
      loading="lazy"
      class="card-img-top"
    />
    <div class="card-img-overlay">
      <h5>{{ post.image }}</h5>
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <p class="card-text">
        Author: <strong>{{ post.author.user_name }}</strong>
      </p>
      <p class="card-text">
        <small class="card-text">{{ post.date_posted.date() }}</small>
      </p>
      <a
        class="btn btn-dark text-white"
        href="{{ url_for('dynamic_pgs.single_post', id=post.id) }}"
        >View Post</a
      >
    </div>
  </div>
  {% endfor %}
</section>

<div class="img-bg">
  <img
    type="image/jpeg"
    src="{{url_for('static', filename='images/spacex-dark.jpeg')}}"
    alt="image"
    aria-label="Description of the overall image"
    loading="lazy"
  />
</div>
{% include 'components/footer.html' %} {% endblock %}
