{% extends 'base.html' %} {% block body %}
<section class="container">
  <h1>Error 404</h1>
  <h2>Page not found...</h2>
</section>

<div class="img-bg">
  <img
    type="image/jpeg"
    src="{{url_for('static', filename='images/spacex-dark.jpeg')}}"
    alt="image"
    loading="lazy"
  />
  Photo by
  <a
    href="https://unsplash.com/@spacex?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >SpaceX</a
  >
  on
  <a
    href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    >Unsplash</a
  >
</div>
{% endblock %}
