{% extends 'base.html' %} {% block body %}{% include 'components/navbar.html' %}
<section class="container">
  <h1>Error 500</h1>
  <h2>Internal Server Error...</h2>
  <button
    class="btn btn-secondary text-dark"
    onclick="history.back()"
    aria-label="Go back"
  >
    Go Back
  </button>
</section>

<div class="img-bg">
  <img
    type="image/png"
    src="{{url_for('static', filename='images/spacex-dark.png')}}"
    alt="SpaceX image of late day or night sky and time lapse light line from ascending rocket."
  />
</div>
{% endblock %}
